Source: mkos-beagleboard
Section: devel
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4
Vcs-Git: https://github.com/bgat/mkos-beagleboard.git
Vcs-Browser: https://github.com/bgat/mkos-beagleboard.git

Package: mkos-beagleboard
Architecture: all
Depends: multistrap, util-linux, guestfish, bc, ${misc:Depends}
Description: Composes filesystem images for Beagleboard C/D
 This package is part of Pragmatux http://pragmatux.org
